// CSS Reset & responsive layout from original Bootstrap
// @import "../bootstrap/less/bootstrap";
// @import "../bootstrap/less/responsive";

// http://nicolasgallagher.com/micro-clearfix-hack/
//
// For modern browsers
// 1. The use of `table` rather than `block` is only necessary if using `:before` to contain the top-margins of child elements.
// 2. The original space content hack is removed here. No need to support Opera on my personal site.
.cf {
  &:before,
  &:after {
    display: table; // 1
    content: ""; // 2
  }
  &:after {
    clear: both;
  }
}

// This fix some peformance issues in WebKit, such as transform, webkit-filter in retina displays, and more.
.webkit-fix {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

// Absolute Centered (Vertical & Horizontal) Element LESS Mixin
// http://codepen.io/sparanoid/pen/mcfvb
.centered(@width: 400px, @height: 300px, @padding: 10px) {
  position: fixed;
  top: 50%;
  left: 50%;
  width: @width;
  height: @height;
  margin-top: -(@height / 2 - @padding);
  margin-left: -(@width / 2 - @padding);
  padding: @padding;
}

// @font-face Mixin
// I personally removed useless IE9 Compat Modes and IE6-IE8 support, and legacy iOS .svg font support, nobody should cares about that, right?
.font-face(@font-family, @font-filename) {
  font-family: '@font-family';
  src: url('@font-filename.woff') format('woff'),
       url('@font-filename.ttf')  format('truetype');
}

// WebKit filter
.filter(@effects) {
  -webkit-filter: @effects;
          filter: @effects;
}

// Border box
.border-box {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

// Padding box
.padding-box {
  -moz-background-clip: padding-box;
       background-clip: padding-box;
}

//
// BEGIN override Bootstrap variables
// --------------------------------------------------
// @link-color:             #e63;

// Asian language hotfix
@sans-font-family:      "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", sans-serif;
@serif-font-family:     Georgia, "Times New Roman", Times, "Hiragino Mincho ProN", serif;
@mono-font-family:      Menlo, Monaco, Consolas, "Courier New", monospace;

//
// END override Bootstrap variables
// --------------------------------------------------

:root {
  text-rendering: optimizelegibility;
  image-rendering: optimizequality;
}